AVR_DIRECTORY="/Applications/Arduino.app/Contents/Java/hardware/tools/avr"
FIRMWARE_ROOT_DIRECTORY="/Users/reidwilliams/Repositories/ioteqKernel"
FIRMWARE_DIRECTORY="/Users/reidwilliams/Repositories/ioteqKernel/newFirmware"
SCRIPTS_DIRECTORY="/Users/reidwilliams/Repositories/firmware-upload-and-test-app/app/scripts"
ARDUINO_PORT="/dev/arduino"
BOARD_PORT="/dev/board"
TIMEOUT_COMMAND=gtimeout
TIMEOUT_DURATION=5

