AVR_DIRECTORY="/home/ioteq/.arduino15/packages/arduino/tools/avrdude/6.3.0-arduino14"
FIRMWARE_ROOT_DIRECTORY="/home/ioteq/Documents/ioteqKernel/ioteqKernel"
FIRMWARE_DIRECTORY="/home/ioteq/Documents/ioteqKernel/newFirmware"
SCRIPTS_DIRECTORY="/home/ioteq/Documents/electron-project/app/scripts"
BOOTLOADER_FILE="/home/ioteq/Arduino/hardware/arduino/avr/bootloaders/stk500v2/stk500boot_v2_mega2560.hex"
ARDUINO_PORT="/dev/arduino"
BOARD_PORT="/dev/board"
TIMEOUT_COMMAND=timeout
TIMEOUT_DURATION=5